/* css/atomic/molecules/_quantity-selector.css */
.quantity-selector {
  display: flex;
  align-items: center;
  background-color: var(--color-input-bg);
  border-radius: 20px;
  border: 1px solid var(--color-border-darker);
}
.quantity-selector button {
  background: none;
  padding: 8px 15px;
  font-size: 20px;
  cursor: pointer;
  color: var(--color-text-light-gray);
}
.quantity-selector .quantity-value {
  font-weight: 500;
  padding: 0 5px;
  min-width: 20px;
  text-align: center;
}