/* css/atomic/atoms/_reset.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-body);
  color: var(--color-text-dark);
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button,
input {
  font-family: inherit;
  border: none;
  outline: none;
}
img {
  max-width: 100%;
  display: block;
}