/* css/atomic/organisms/_footer.css */
.main-footer {
  padding: var(--space-xxl) 0 0;
}
.main-footer .footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 40px;
}
.main-footer .footer-about p {
  font-size: 14px;
  color: var(--color-text-medium);
  margin-top: var(--space-sm);
  max-width: 250px;
}
.main-footer .footer-links h3 {
  font-weight: 600;
  color: var(--color-dark);
  margin-bottom: 15px;
  font-size: 16px;
}
.main-footer .footer-links ul li a {
  font-size: 14px;
  color: var(--color-text-medium);
  line-height: 2.2;
}
.main-footer .footer-links ul li a:hover {
  text-decoration: underline;
}
.main-footer .social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.main-footer .social-icons a {
  color: var(--color-text-medium);
}
.main-footer .social-icons a:hover {
  color: var(--color-dark);
}
.main-footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  font-size: 12px;
  color: var(--color-text-light-gray);
  border-top: 1px solid var(--color-border);
  margin-top: var(--space-xxl);
}
.footer-payment-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}